{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" media="print" href="{% static 'css/print.css' %}">
    {% block extracss %}
    {% endblock %}
    <title>Meade Product App {% block head_title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/meade_farm_logo.png' %}" id="logo" alt="logo" height="60" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'upcoming_products' %}">Upcoming Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'product_home' %}">All Products</a>
                            </li>
                            <!-- the perms object contains the users permissions, we want to check if they are allowed to create products -->
                            {% if perms.products.add_product %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create_product' %}">Create New Product</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{% url 'user_tasks' %}" class="nav-link">My Tasks</a>
                            </li>
                            {% if perms.products.add_finishedproduct %}
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                        <li><a href="{% url 'view_defects' %}" class="dropdown-item">Defects</a></li>
                                        <li><a href="{% url 'view_customers' %}" class="dropdown-item">Customers</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
          </nav>
    </header>
    <main class="pt-3 pb-4">
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger text-center">
                            <strong>Error:</strong> {{ message }} <i class="fas fa-times"></i>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success text-center">
                            <strong>Success:</strong> {{ message }} <i class="fas fa-check"></i>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        <div class="alert alert-warning text-center">
                            <strong>Warning:</strong> {{ message }} <i class="fas fa-exclamation-triangle"></i>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="alert alert-info text-center">
                            <strong>Info:</strong> {{ message }} <i class="fas fa-exclamation-circle"></i>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6a9c92e46f.js" crossorigin="anonymous"></script>
    {% block extra_body %}
    {% endblock %}
    {% block extrajs %}
    {% endblock %}
</body>
</html>