{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <a href="{% url 'product_details' product.id %}" class="btn btn-danger">
                <i class="fas fa-arrow-left"></i> Back
            </a>
        </div>
        <div class="col-8">
            <h2 class="text-center">
                Approved Suppliers: {{ product.product_name }}
            </h2>
        </div>
        <div class="col-2">
            <a href="{% url 'add_approved_supplier' product.id %}" class="btn btn-lg btn-success">
                <i class="fas fa-plus"></i>
                Add
            </a>
        </div>
    </div>
    <hr>
    {% if approved_suppliers.count > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Supplier</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in approved_suppliers %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <td>{{ supplier.supplier }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'delete_approved_supplier' product.id supplier.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h4 class="text-center">
            <i class="fas fa-times"></i> No Suppliers To Show!
        </h4>
    {% endif %}
</div>
{% endblock %}