{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="card">
        <form action="{% url 'edit_commercial_details' product.id %}" method="post">
            <div class="card-header">
                <h3>Edit Commercial Details</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Product Name:</strong>
                                <span class="float-end">{{ product.product_name }}</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Department:</strong>
                                <span class="float-end">{{ product.department }}</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Customer:</strong>
                                <span class="float-end">{{ product.customer }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Status:</strong>
                                <span class="float-end">{{ product.status }}</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Created On:</strong>
                                <span class="float-end">{{ product.created_on }}</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Created By:</strong>
                                <span class="float-end">{{ product.created_by }}</span>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="col-12 col-md-6">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-check"></i> Submit
                </button>
                <a href="{% url 'product_details' product.id %}" class="btn btn-danger">
                    <i class="fas fa-times"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
