{% extends "base.html" %}
{% load static %}
{% load lookup %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <a id="back_button" href="{% url 'upcoming_products' %}" class="btn btn-danger">
                <i class="fas fa-arrow-left"></i> Back
            </a>
        </div>
        <div class="col-8">
            <h1 class="text-center">
                <i class="fas fa-leaf"></i> Product Details
            </h1>
        </div>
        <div class="col-2"></div>
    </div>
    <hr>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% include "products/includes/product_header.html" %}
            </div>
        </div>
        <div class="accordion accordion-flush border-top" id="statusAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="statusHeadingOne">
                    <button class="accordion-button collapsed text-center d-block" type="button" data-bs-toggle="collapse" data-bs-target="#statusCollapseOne" aria-expanded="false" aria-controls="statusCollapseOne">
                        <b>Click To View Full Status</b> <i class="fas fa-chevron-down"></i>
                    </button>
                </h2>
                <div id="statusCollapseOne" class="accordion-collapse collapse" aria-labelledby="statusHeadingOne" data-bs-parent="#statusAccordion">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <strong>Commercial Details</strong>
                                        <span class="float-end">
                                            {% if commercial_details %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Approved Origins</strong>
                                        <span class="float-end">
                                            {% if approved_origins.count > 0 %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Approved Varieties</strong>
                                        <span class="float-end">
                                            {% if approved_varieties.count > 0 %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Approved Suppliers</strong>
                                        <span class="float-end">
                                            {% if approved_suppliers.count > 0 %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Inner Packaging</strong>
                                        <span class="float-end">
                                            {% if inner_packaging.count > 0 %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Outer Packaging</strong>
                                        <span class="float-end">
                                            {% if outer_packaging.count > 0 %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <strong>Palletisation</strong>
                                        <span class="float-end">
                                            {% if palletisation %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Operations Details</strong>
                                        <span class="float-end">
                                            {% if operations_details %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Defect Specs</strong>
                                        <span class="float-end">
                                            {% if defect_specs.count > 0 %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Finished Product</strong>
                                        <span class="float-end">
                                            {% if finished_product %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Prophet Details</strong>
                                        <span class="float-end">
                                            {% if prophet_details %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Sign Off</strong>
                                        <span class="float-end">
                                            {% if product.signature %}
                                                <i class="fas fa-check text-success" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fas fa-times text-danger" aria-hidden="true"></i>
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group d-flex justify-content-center" role="group">
                {% if not product.is_ready %}
                    {% if perms.products.add_product %}
                        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">
                            <i class="fas fa-times"></i> Delete
                        </a>
                    {% endif %}
                    <a href="{% url 'edit_navigation' product.id %}" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                {% elif product.is_ready and perms.products.add_product %}
                    <a href="{% url 'reopen_product' product.id %}" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Reopen
                    </a>
                {% endif %}
                <button class="btn btn-primary" id="print_button">
                    <i class="fas fa-print"></i> Print
                </button>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="text-primary">
        <i class="fas fa-handshake"></i> Commercial Details
    </h2>
    <hr>
    {% include "products/includes/details_template.html" with details=commercial_details keys=commercial_details_keys %}
    <hr>
    <div class="row">
        <div class="col-6">
            <h4 class="text-info"><i>Approved Origins</i></h4>
            <hr>
            {% if approved_origins.count > 0 %}
                <ul class="list-group list-group-flush">
                    {% for origin in approved_origins %}
                        <li class="list-group-item">{{ origin.origin }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h5 class="text-center">
                    <i class="fas fa-exclamation-circle"></i> No Details Available!
                </h5>
            {% endif %}
        </div>
        <div class="col-6">
            <h4 class="text-info"><i>Approved Varieties</i></h4>
            <hr>
            {% if approved_varieties.count > 0 %}
                <ul class="list-group list-group-flush">
                    {% for variety in approved_varieties %}
                        <li class="list-group-item">{{ variety.variety }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h5 class="text-center">
                    <i class="fas fa-exclamation-circle"></i> No Details Available!
                </h5>
            {% endif %}
        </div>
        <div class="col-6">
            <h4 class="text-info"><i>Approved Suppliers</i></h4>
            <hr>
            {% if approved_suppliers.count > 0 %}
                <ul class="list-group list-group-flush">
                    {% for supplier in approved_suppliers %}
                        <li class="list-group-item">{{ supplier.supplier }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h5 class="text-center">
                    <i class="fas fa-exclamation-circle"></i> No Details Available!
                </h5>
            {% endif %}
        </div>
    </div>
    <hr>
    <h2 class="text-primary">
        <i class="fas fa-boxes"></i> Packaging Details
    </h2>
    <hr>
    <h4 class="text-info"><i>Inner Packaging</i></h4>
    {% if inner_packaging.count > 0 %}
        {% for pack in inner_packaging %}
            <hr>
            <h6 class="text-success"><i>{{ forloop.counter }} of {{ inner_packaging.count }}</i></h6>
            <hr>
            {% include "products/includes/details_template.html" with details=pack keys=inner_packaging_keys %}
        {% endfor %}
    {% else %}
        <h4 class="text-center">
            <i class="fas fa-exclamation-circle"></i> No Details Available!
        </h4>
    {% endif %}
    <hr>
    <h4 class="text-info"><i>Outer Packaging</i></h4>
    {% if outer_packaging.count > 0 %}
        {% for pack in outer_packaging %}
            <hr>
            <h6 class="text-success"><i>{{ forloop.counter }} of {{ outer_packaging.count }}</i></h6>
            <hr>
            {% include "products/includes/details_template.html" with details=pack keys=outer_packaging_keys %}
        {% endfor %}
    {% else %}
        <h4 class="text-center">
            <i class="fas fa-exclamation-circle"></i> No Details Available!
        </h4>
    {% endif %}
    <hr>
    <h4 class="text-info"><i>Palletisation</i></h4>
    <hr>
    {% include "products/includes/details_template.html" with details=palletisation keys=palletisation_keys %}
    <hr>
    <h2 class="text-primary">
        <i class="fas fa-cogs"></i> Operations Details
    </h2>
    <hr>
    {% include "products/includes/details_template.html" with details=operations_details keys=operations_details_keys %}
    <hr>
    <h2 class="text-primary">
        <i class="fas fa-eye"></i> Technical Details
    </h2>
    <hr>
    <h4 class="text-info"><i>Defect Specifications</i></h4>
    <hr>
    {% if defect_specs.count > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Defect</th>
                        <th>Amber</th>
                        <th>Red</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spec in defect_specs %}
                        <tr>
                            <th>{{ spec.defect }}</th>
                            <td>{{ spec.amber }} %</td>
                            <td>{{ spec.red }} %</td>
                            <td>{{ spec.comment }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h4 class="text-center">
            <i class="fas fa-exclamation-circle"></i> No Defect Specs Available!
        </h4>
    {% endif %}
    <hr>
    <h4 class="text-info"><i>Finished Product</i></h4>
    <hr>
    {% include "products/includes/details_template.html" with details=finished_product keys=finished_product_keys %}
    <hr>
    <h2 class="text-primary">
        <i class="fas fa-database"></i> Prophet Details
    </h2>
    <hr>
    {% include "products/includes/details_template.html" with details=prophet_details keys=prophet_details_keys %}
    <hr>
</div>
{% endblock %}
{% block extrajs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/print.js' %}"></script>
{% endblock %}