{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center">
        Product Details
    </h2>
    <hr>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-center">
                {{ product.product_name }}
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Department:</strong>
                            <span class="float-end">{{ product.department }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Customer:</strong>
                            <span class="float-end">{{ product.customer }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Status:</strong>
                            <span class="float-end">{{ product.status }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Created On:</strong>
                            <span class="float-end">{{ product.created_on }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Created By:</strong>
                            <span class="float-end">{{ product.created_by }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
{% endblock %}
