{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center">
        Product Details
    </h2>
    <hr>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-center">
                {{ product.product_name }}
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Department:</strong>
                            <span class="float-end">{{ product.department }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Customer:</strong>
                            <span class="float-end">{{ product.customer }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Status:</strong>
                            <span class="float-end">{{ product.status }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Created On:</strong>
                            <span class="float-end">{{ product.created_on }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Created By:</strong>
                            <span class="float-end">{{ product.created_by }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
    <hr>
    <h2>Commercial Details</h2>
    <hr>
    {{ commercial_details }}
    {% if commercial_details %}
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Start Date</strong>
                        <span class="float-end">{{ commercial_details.start_date }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Product Branding</strong>
                        <span class="float-end">{{ commercial_details.product_branding }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Case Count</strong>
                        <span class="float-end">{{ commercial_details.case_count }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Weight per Unit</strong>
                        <span class="float-end">{{ commercial_details.weight_per_unit }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Delivered State</strong>
                        <span class="float-end">{{ commercial_details.delivered_state }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Inner Barcode</strong>
                        <span class="float-end">{{ commercial_details.product_inner_barcode }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Outer Barcode</strong>
                        <span class="float-end">{{ commercial_details.product_outer_barcode }}</span>
                    </li>
                    {% for details in commercial_details %}
                        {% for field, value in details.fields.items %}
                            <li class="list-group-item">
                                <strong>{{ field }}</strong>
                                <span class="float-end">{{ value }}</span>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Size Diameter</strong>
                        <span class="float-end">{{ commercial_details.size_diameter }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Storage Temperature</strong>
                        <span class="float-end">{{ commercial_details.storage_temperature }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Display Until</strong>
                        <span class="float-end">{{ commercial_details.display_until }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Best Before</strong>
                        <span class="float-end">{{ commercial_details.best_before }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Julian Code</strong>
                        <span class="float-end">{{ commercial_details.julian_code }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <h4>Approved Origins</h4>
                {% if commercial_details.approved_origins.all|length > 0 %}
                    <ul class="list-group list-group-flush">
                        {% for origin in commercial_details.approved_origins.all %}
                            <li class="list-group-item">
                                {{ origin }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    None Selected!
                {% endif %}
            </div>
            <div class="col-6">
                <h4>Approved Varieties</h4>
                {% if commercial_details.approved_varieties.all|length > 0 %}
                    <ul class="list-group list-group-flush">
                        {% for variety in commercial_details.approved_varieties.all %}
                            <li class="list-group-item">
                                {{ variety }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    None Selected!
                {% endif %}
            </div>
        </div>
    {% else %}
        <h4 class="text-center">No Commercial Details Available</h4>
    {% endif %}
</div>
{% endblock %}
